<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Driver's license</strong>
  <%= @user.drivers_license %>
</p>

<p>
  <strong>Car make</strong>
  <%= @user.car_make %>
</p>

<p>
  <strong>Car model</strong>
  <%= @user.car_model %>
</p>

<p>
  <strong>Car_color</strong>
  <%= @user.car_color %>
</p>

<%= link_to 'Edit Profile', edit_user_registration_path %> |
<%= link_to 'Back', rides_path %>
